@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300&display=swap');



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-family: 'Inter', sans-serif;
    background-color: #dbdbdb;
    
}
header{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

main {
    text-align: center; 
    margin: 0 auto; 
     
}
.title-sobre{
    margin: 0px;
    color: rgb(85, 85, 85);
    font-size: 40px;
}
.title-h2-left{
    font-size: 20px;
    padding: 10px;
    font-size: 22px;
}
.paragrafo-sobre{
    text-align: justify;
    font-size: 18px;
}
footer{
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 15px;
    color: rgb(85, 85, 85);
}
.fotoso{
    text-align: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: rgb(85, 85, 85);
    

    
    
}
.col {
    width: 60%;
    
}

.left-col {
    flex: 1; 
    padding-right: 2px;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}



.right-col {
    flex: 1; 
    padding-left: 2px; 
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
